@import "/src/global.scss";

.error-wrapper {
    @include centered-content-flex(center);
    height: 100vh;
    width: 100%;
    flex-direction: column;

    p{
        font-size: larger;
    }
}

.error-img {
    width: 10rem;
    height: auto;
    margin: 2rem 0;
}